name: Java CI with Maven

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: rootpassword
          MYSQL_DATABASE: penjualan
          MYSQL_USER: myuser
          MYSQL_PASSWORD: mypassword
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Initialize Database
      run: |
        mysql -h127.0.0.1 -uroot -prootpassword penjualan < db/penjualan.sql

    - name: Make Maven Wrapper executable
      run: chmod +x ./mvnw

    - name: Build with Maven
      run: ./mvnw -B package -DskipTests --file pom.xml

    - name: Run Tests
      run: ./mvnw -B test --file pom.xml
      env:
        SPRING_DATASOURCE_URL: jdbc:mysql://127.0.0.1:3306/penjualan
        SPRING_DATASOURCE_USERNAME: root
        SPRING_DATASOURCE_PASSWORD: rootpassword
